.container {
  display: flex;
  text-align: center;
}

.search-vitamin{
  width: calc(33.33%);
}

.picked-vitamin {
  position: fixed;
  left: calc(33.33%);
  width: calc(33.33%);
}

.graph-vitamin{
  position: fixed;
  left: calc(66.66%);
  width: calc(33.33%);
  height: 300px;
}

